// Global styles and re-usable classes or components

body {
	background: @c-lightgrey;
	font-family: @f-body;
}

::selection {
  background: @c-darkgrey;
  color: @c-white;
  .font-smoothing;
}
::-moz-selection {
  background: @c-darkgrey;
  color: @c-white;
  .font-smoothing;
}

h1,h2,h3,h4,h5 {
  .f-headings;
}

a {
  text-decoration: none;
  color: #333;
  font-weight: normal;
  &:hover {
    text-decoration: underline;
  }
}

hr {
  border: 0 none;
  border-top: 1px solid #e6e6e6;
  height: 0;
  margin: 10px 0;
}

p.center {
	text-align: center;
}

// Style for "panels"
.panel {
	background: @c-white;
	border: 1px solid (@c-lightgrey - 20%);
	.rounded;
	padding: 10px;
	margin: 10px 0;
}