// LESS FRAMEWORK

// Imports
	@import "grid.less"; // Grid system and responsive base
	@import "global.less"; // Re-usable components or global styles
	@import "forms.less"; // Self explanatory
// Site sections
	@import "header.less";
//	@import "navigation.less"
	@import "footer.less";

// Global variables

	// Structural
	@page-width: @bp-massive;
	@small-page-width: 90%;
	@gutter-width: 20px;
	@bp-collapse: @bp-medium; // Grid collapse
	// Breakpoints
	@bp-tiny: 300px;
	@bp-small: 480px;
	@bp-medium: 800px;
	@bp-large: 1000px;
	@bp-massive: 1160px;

	// Colours
	@c-white: #FFF;
	@c-lightgrey: #E6E6E6;
	@c-darkgrey: #333333;
	@c-mediumgrey: #777777;
	@c-black: #222222;
	@c-turquoise: #50AEC2;
	@c-blue: #3A7CB9;
	@c-green: #29A76D;
	@c-orange: #E36C3C;
	@c-yellow: #FED146;
	@c-red: #D6454C;

	// Typography
	@f-body: sans-serif;
	.f-headings { font-family: sans-serif; font-weight: bold; }

	// Details
	.rounded { border-radius: 5px; }

	// Handy things
	.no-select {
		-webkit-touch-callout: none;
		-webkit-user-select: none;
		-khtml-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
	}
	.font-smoothing {
		-webkit-font-smoothing: antialiased;
				font-smoothing: antialiased;
	}

	.circle (@radius: 50px) {	
		border-radius: @radius;
		width: @radius; height: @radius;
	}

	// Animation
	.animate-width(@duration) {
		-webkit-transition: width @duration;
	}

	.skew(@xdeg: -20deg,@ydeg: 0) {
		-webkit-transform: skew(@xdeg,@ydeg);
			-ms-transform: skew(@xdeg,@ydeg);
				transform: skew(@xdeg,@ydeg);
	}

	// Gradients
	.gradient(@color: #F5F5F5, @start: #EEE, @stop: #FFF) {
	  background: @color;
	  background: -webkit-gradient(linear,
	                               left bottom,
	                               left top,
	                               color-stop(0, @start),
	                               color-stop(1, @stop));
	  background: -ms-linear-gradient(bottom,
	                                  @start,
	                                  @stop);
	  background: -moz-linear-gradient(center bottom,
	                                   @start 0%,
	                                   @stop 100%);
	  background: -o-linear-gradient(@stop,
	                                 @start);
	  filter: e(%("progid:DXImageTransform.Microsoft.gradient(startColorstr='%d', endColorstr='%d', GradientType=0)",@stop,@start));
	}

	.NDgrad(@color: #CCC) {
	  background: @color;
	  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, darken(@color, 10%)), color-stop(1, lighten(@color, 10%)));
	  background: -ms-linear-gradient(bottom, darken(@color, 10%), lighten(@color, 10%));
	  background: -moz-linear-gradient(center bottom, darken(@color, 10%) 0%, lighten(@color, 10%) 100%);
	  background: -o-linear-gradient(lighten(@color, 10%), darken(@color, 10%));
	  filter: e(%("progid:DXImageTransform.Microsoft.gradient(startColorstr='%d', endColorstr='%d', GradientType=0)",lighten(@color, 10%),darken(@color, 10%)));
	}