// LESS FRAMEWORK

// Imports
	@import "normalize.css"; // Browser resets
	@import "grid.less"; // Grid system and responsive base
	@import "global.less"; // Re-usable components or global styles
	@import "forms.less"; // Self explanatory
// Site sections
	@import "header.less";
//	@import "navigation.less"
	@import "footer.less";

// Global variables

	// Structural
	@page-width: 80%;
	@max-page-width: 1120px;
	@gutter-width: 10px;

	// Colours
	@c-white: #FFF;
	@c-lightgrey: #E6E6E6;
	@c-black: #222222;
	@c-turquoise: #50AEC2;
	@c-blue: #3A7CB9;
	@c-green: #29A76D;
	@c-orange: #E36C3C;
	@c-yellow: #FED146;

	// Typography
	@f-body: 'Open Sans', sans-serif;
	.f-headings { font-family: 'Open Sans', sans-serif; font-weight: bold; }

	// Details
	.rounded { border-radius: 5px; }